<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissions needed for onboarding flow -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_ATTRIBUTION" />
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_AD_ID" />
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_TOPICS" />

    <application>
        <!-- Onboarding Activities -->
        <activity
            android:name=".onboarding.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DollColoring"
            android:windowSoftInputMode="adjustPan" />
            
        <activity
            android:name=".onboarding.language.LanguageActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DollColoring"
            android:windowSoftInputMode="adjustPan" />
            
        <activity
            android:name=".onboarding.language.Language2Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DollColoring"
            android:windowSoftInputMode="adjustPan" />
            
        <activity
            android:name=".onboarding.onboarding.OnboardingActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DollColoring"
            android:windowSoftInputMode="adjustPan" />
            
        <activity
            android:name=".onboarding.onboarding.OnboardingActivityNew"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DollColoring"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".onboarding.onboarding.OnboardingActivity4"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DollColoring"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>




